<p id="notice"><%= notice %></p>

<h1>User Tracks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tracks.each do |user_track| %>
      <tr>
        <td><%= user_track.user %></td>
        <td><%= user_track.role %></td>
        <td><%= link_to 'Show', user_track %></td>
        <td><%= link_to 'Edit', edit_user_track_path(user_track) %></td>
        <td><%= link_to 'Destroy', user_track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Track', new_user_track_path %>
