<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NWMBR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#flash').remove();
      }, 3000);
     })
    </script>
  </head>

  <body>
    <%= render 'navbar' %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-auto center-text" id="flash">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>
